<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" id="text" name="text" [(ngModel)]="text" placeholder="Add Task">
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input type="datetime-local" id="day" [(ngModel)]="day" name="day" placeholder="Add Day">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">reminder</label>
    <input type="checkbox" id="reminder" [(ngModel)]="reminder" name="reminder">
  </div>
  <input class="btn btn-block" value="Save Task" type="submit">
</form>
